.catalog{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 120px;
}

.catalogs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Zagolovktov{
    font-size: 40px;
    margin-left: 260px;
}

.catalogszag{
    margin-top: 120px;
}

.sortOptions{
    margin-top: 40px;
    margin-left: 260px
}

.PoiskFiltr{
    margin-top: 40px;
    margin-left: 260px;
}

.Pole{
    border: 2px black solid;
    margin-right: 30px;
}