.header{
    background-color: #E9E8E6;
    padding: 30px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 36px;
    color:  blue;
}

.nav{
    display: flex;
    gap: 20px;
}

.Buttonss{
    display: flex;
    gap: 20px;
}

a{
    color: black;
}

.Buttonss {
    display: flex; 
}

.Buttonss > * {
    margin-right: 10px;
}

.Buttonss > *:last-child {
    margin-right: 0; 
}